@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.html, body {
    margin: 0px;
    padding: 0px;
    font-family: Roboto, arial;
    background-color: #1F2937;
    color: white;
    align-items: center;
    margin-left: 750px;
    margin-right: 750px;
}

.header {
    text-align: center;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameContainer {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

#restartButtonContainer.buttonContainer {
    flex-direction: column;
    align-items: flex-start;
}